*,
*::after,
*::before {
  box-sizing: border-box;
}
#container{
  font-family: "DM Sans", sans-serif;
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  box-shadow: 5px 5px 0px 0px rgba(100,100,100,0.1);
};

