.task_list{
    margin-top: 2.6rem;
    list-style: none;
  }
  .task_list li{
    display: flex;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.1);
    transition: all 0.5s ease;
    transform-origin: top left 
  }
  
  /* .fall{
    transform: rotate(10deg);
    opacity:0;
  } */
  
  .filter_wrapper{
    margin-top:1em;
    display: flex;
    justify-content: flex-end;
  }
  